@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar--button-text {
    @apply tracking-[0.3em] indent-[0.3em] font-black text-xl;
  }

  .page--header {
    @apply text-5xl font-black;
  }

  .page--header-description {
    @apply text-2xl font-semibold italic;
  }

  .user-form--header {
    @apply font-black mt-4 mb-1 text-4xl;
  }

  .navigation--user-button {
    @apply bottom-16	absolute left-1/2 -translate-x-1/2;
  }

  .rules--list-header {
    @apply font-black text-xl italic underline tracking-widest;
  }

  .quiz--section-container {
    @apply border-2 border-black rounded-xl overflow-hidden h-4/6 w-3/12 relative flex justify-center transition-all duration-500 bg-cover bg-center;
  }

  .page--container {
    @apply flex flex-1 justify-center items-center text-center;
  }

  .user-form--container {
    @apply flex flex-row justify-center items-center border-2 border-black max-h-[650px] max-w-5xl rounded-xl overflow-hidden shadow-2xl;
  }

  .user-form--image {
    @apply object-cover w-1/2;
  }

  .user-form--form-container {
    @apply flex flex-col w-1/2 px-12;
  }

  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
